/* footer */
.circle-4-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 4, 4);
    padding: 20px;
}
.circle-4-footer-holder {
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
}
.circle-4-footer-links {
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.circle-4-footer-link {
    font-family: 'Gothic A1';
    margin: 5px 15px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 768px) {
    .circle-4-footer-link {
        font-size: 10px;
        margin: 5px 10px;
    }
}

@media (max-width: 480px) {
    .circle-4-footer-link {
        font-size: 8px;
        margin: 5px 5px;
    }
}