.circle-3-signup-login {
    height: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgb(14, 13, 13);
    background-image: none;
    color: rgb(0, 0, 0);
    font-size: 7px;
    line-height: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-3-signup-login-container>h2 {
    text-align: center  ;
    font-family: 'Gothic A1';
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 34px;
    line-height: 48px;
    font-weight: 700;
}
.circle-3-signup-login-button {
    display: flex;
    width: auto;
    margin-top: 5vh;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
}
.circle-3-signup-button, .circle-3-login-button {
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    padding: 5px 25px;
    border-radius: 20px;
    background-color: #b12eb1;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.circle-3-signup-button:hover, .circle-3-login-button:hover {
    background-color: #9a239a;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .circle-3-signup-button, .circle-3-login-button {
        font-size: 10px;
        padding: 4px 20px;
    }
}

@media (max-width: 480px) {
    .circle-3-signup-button, .circle-3-login-button {
        font-size: 8px;
        padding: 3px 15px;
    }
}
.circle-3-signup-login-button>a {
    text-decoration: none;
}